<app-navbar></app-navbar>

<div class="home-container">
    <div class="main-content animate__animated animate__fadeInUp">
        <div class="main-content animate__animated animate__fadeInUp">
            <div class="thumb-container">
                <img src="../assets/thumb1.jpg" alt="Profile image" class="thumb-image">
            </div>
        </div>

        <div class="text-container">
            <p>Project: Student Management Web Application 2/2024 - 3/2024</p>
            <p>
                Member: Personal project to learn Spring framework. <br>
                Language: Java<br>
                Frameworks: Spring Boot, Servlet/JSP, Bootstrap, Hibernate, JPA.<br>
                Database: MySQL<br>
                Features: create, read, update, delete, sort by, interceptor, login, logout, upload files, Oauth2.<br>
                CI: GitHub Actions.<br>
                Deploy: AWS EC2, AWS RDS, Maven build, Tomcat.<br>
                Git: github.com/manhhus/java-spring-boot
            </p>
        </div>
    </div>

    <div>
        <div>
            <div id="skills-section" class="skills-section animate__animated animate__fadeInUp">
              <p style="font-size: 25px;color:#6b08a6;">My Skills</p>
            </div>
            <div class="card-container">
              <mat-card class="example-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-items-center">
                  <p style="color:#6b08a6 ;">Angular</p>
                </mat-card-header>
                <img mat-card-image src="../assets/angular.png" alt="Image" style="border-radius: 10px;">
                <mat-card-content>
                  <p>Helps developers build single-page web applications.</p>
                </mat-card-content>
                <button>Know More..</button>
              </mat-card>
          
              <mat-card class="example-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-items-center">
                  <p style="color:#6b08a6;">Java</p>
                </mat-card-header>
                <img mat-card-image src="../assets/java.png" alt="Image" style="border-radius: 10px;">
                <mat-card-content>
                  <p>Java is designed to be platform-independent.</p>
                </mat-card-content>
                <button>Know More..</button>
              </mat-card>

              <mat-card class="example-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-items-center">
                  <p style="color:#6b08a6 ;">AWS</p>
                </mat-card-header>
                <img mat-card-image src="../assets/aws.jpg" alt="Image" style="border-radius: 10px;">
                <mat-card-content>
                  <p>Amazon Web Services is a platform provided by Amazon.</p>
                </mat-card-content>
                <button>Know More..</button>
              </mat-card>
          
          
            </div>
        </div>
    </div>
    
</div>

<app-footer></app-footer>
